<?xml version="1.0"?>
<config>
    <modules>
        <Yoma_Bmicalculator>
            <version>0.2.1</version>
        </Yoma_Bmicalculator>
    </modules>
    <frontend>
        <routers>
            <bmicalculator>
                <use>standard</use>
                <args>
                    <module>Yoma_Bmicalculator</module>
                    <frontName>bmicalculator</frontName>
                </args>
            </bmicalculator>
      
            <customer>
                <args>
                    <modules>
                        <yoma_bmicalculator before="Mage_Customer">Yoma_Bmicalculator</yoma_bmicalculator>
                    </modules>
                </args>
            </customer>
            <newsletter>
                <args>
                    <modules>
                        <yoma_bmicalculator before="Mage_Newsletter">Yoma_Bmicalculator</yoma_bmicalculator>
                    </modules>
                </args>
            </newsletter>
        </routers>
        <layout>
            <updates>
                <bmicalculator>
                    <file>bmicalculator.xml</file>
                </bmicalculator>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <bmicalculator>
                <class>Yoma_Bmicalculator_Helper</class>
            </bmicalculator>
        </helpers>
        <blocks>
            <bmicalculator>
                <class>Yoma_Bmicalculator_Block</class>
            </bmicalculator>
        </blocks>
        <models>
            <bmicalculator>
                <class>Yoma_Bmicalculator_Model</class>
                <resourceModel>bmicalculator_mysql4</resourceModel>
            </bmicalculator>
            <bmicalculator_mysql4>
                <class>Yoma_Bmicalculator_Model_Mysql4</class>
                <entities>		  
                    <bmi>
                        <table>yoma_bmi</table>
                    </bmi>
                </entities>
            </bmicalculator_mysql4>
        </models>
        <resources>
            <bmicalculator_setup>
                <setup>
                    <module>Yoma_Bmicalculator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bmicalculator_setup>
            <bmicalculator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bmicalculator_write>
            <bmicalculator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bmicalculator_read>
        </resources>
    </global>
    <admin>
        <routers>
            <bmicalculator>
                <use>admin</use>
                <args>
                    <module>Yoma_Bmicalculator</module>
                    <frontName>bmicalculator</frontName>
                </args>
            </bmicalculator>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <bmicalculator module="bmicalculator">
                <title>Bmicalculator</title>
                <sort_order>100</sort_order>
                <children>
                    <bmi module="bmicalculator">
                        <title>Manage Bmi</title>
                        <sort_order>0</sort_order>
                        <action>bmicalculator/adminhtml_bmi</action>
                    </bmi>
                </children>
            </bmicalculator>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <bmicalculator translate="title" module="bmicalculator">
                            <title>Bmicalculator</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <bmi translate="title">
                                    <title>Manage Bmi</title>
                                    <sort_order>0</sort_order>
                                </bmi>
                            </children>
                        </bmicalculator>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <bmicalculator>
                    <file>bmicalculator.xml</file>
                </bmicalculator>
            </updates>
        </layout>
    </adminhtml>
</config> 